<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WATER TRACKER</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/signup">Signup</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn btn-success sponsor-project">Sponsor Project</button>
      </span>
    </div>
  </div>
</nav>
<div class="container-fluid" style="height: 80vh">
  <div class="row d-flex align-items-center p-5" style="height: 100%">
    <div class="col-5">
      <h1>Manage your water <span class="text-success">Bills.</span></h1>
      <p>
        This water tracker is a well designed web app with amazing features to
        manage your water bills like a pro.
      </p>
      <button class="btn btn-success" routerLink="/auth/signup">Get started</button>
      <button class="btn btn-outline-success">Learn More</button>
    </div>
    <div class="col d-flex justify-content-center img">
      <img src="../../assets/images-removebg-preview.png" alt="" />
    </div>
  </div>
</div>
<!-- <div class="row d-flex justify-content-center alig" style="height: 10vh;">
  <h3>@watertracker 2022.All rights reserved</h3>
  When you visit or interact with our sites, services or tools, we or our
  authorised service providers may use cookies for storing information to help
  provide you with a better, faster and safer experience and for marketing
  purposes.
</div> -->
