<div class="dashboard">
  <!-- <div>
    <h4>Dashboard</h4>
    <hr />
  </div> -->
  <div class="items">
    <div class="item item1">
      <i class="fa fa-users" aria-hidden="true"></i>
      <h3>Total Clients</h3>
    </div>
    <div class="item item2">
      <i class="fa fa-usd" aria-hidden="true"></i>

      <h3>Total Bill</h3>
    </div>
    <div class="item item3">
      <i class="fa fa-tasks" aria-hidden="true"></i>
      <h3>Pending Bills</h3>
    </div>
    <div class="item item4">
      <i class="fa fa-check" aria-hidden="true"></i>
      <h3>Cleared Bills</h3>
    </div>
  </div>
</div>
<app-records></app-records>
<!-- <app-new-record></app-new-record> -->
